<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      You have successfully saved your date plans,
    </p>
    <p>
      your plans are as follows:
      <!-- users '/date_plan/:id' -->
    </p>
    <p>Have a great date!</p>
  </body>
</html>
