

<div class="wrapper" id="categories">
  <div class="box"><p>Feeling Lucky!</p></div>
  <div class="box"><p>American</p></div>
  <div class="box"><p>Asian</p></div>
  <div class="box"><p>Cafe</p></div>
  <div class="box"><p>Caribbean</p></div>
  <div class="box"><p>Dessert</p></div>
  <div class="box"><p>French</p></div>
  <div class="box"><p>Halal</p></div>
  <div class="box"><p>Italian</p></div>
  <div class="box"><p>Japanese</p></div>
  <div class="box"><p>Mexican</p></div>
  <div class="box"><p>Middle-Eastern</p></div>
  <div class="box"><p>Pizza</p></div>
  <div class="box"><p>Vegan</p></div>

</div>
