<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Date Picker for your date!</title>
  <link rel="stylesheet" href="app/assets/stylesheets/jquery-ui.css">
  <script src="app/assets/javascripts/jquery-1.12.4.js"></script>
  <script src="app/assets/javascripts/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
<h1>Pick a date for yo Date!</h1>
<p>Date: <input type="text" id="datepicker"></p>


</body>
