<div class="choices">
<h1>Pick your plans</h1>
<button class="button">Restaurants</button><br>
<button class="button">Events</button><br>
<button class="button">Both</button><br>

</div>




<section class="rated_grid">

  <%@top_rated_restaurants.each do |resta|%>
<div class="top_rated_restaurants">
  <%=link_to (image_tag (resta.image_url)), resta.restaurant_url, :target => ":_blank"  %>
  <p><%=resta.name %></p>
</div>
  <%end%>
</section>
