

<!-- DATE CHOICE -->
  <h2>Pick a date for yo Date!</h2>
  <%= form_tag "/date_plan", method: :get do %>
    <p>Date: <input type="text" id="datepicker" name="date"></p>

    <div id="partysize">
      <input type='button' value='-' class='qtyminus' field='quantity' />
      <input type='text' name='quantity' value='0' class='qty' />
      <input type='button' value='+' class='qtyplus' field='quantity' />
    </div>

<!-- BUDGET CHOICE -->
  <h3> Select an amount</h3>
  <p>
   <label for="amount">Max amount per person:</label>
   <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" name= "price_max">
  </p>
<div id="slider-range-max"></div>



<!-- CATEGORIES -->
   <div id="catlist" class="dropdown-check-list" tabindex="100">
     <span class="anchor"> Select category </span>
     <ul class="categories">
      <% Category.all.each do |category| %>
        <li class="category_name">
          <%= label_tag(category.category)%>
          <%= check_box_tag("category[#{category.category}]")%>
          <% end %>
        </li>
      <!-- <li>
        Surprise me!
      </li> -->
    </ul>
  </div>
      <input type="submit" name="commit" value="show me da wae" />
    <% end %>

<!-- PARTY SIZE -->

</body>
