


<div class="page">
   <div class="see-more">
    <button type="button" id="seeMoreButton" class="mt-button">See More</button>
  </div>
	<div class="gallery">

  <div class="back-to-top" data-active="false">
    <button type="button" id="backToTopButton" class="mt-button">Top</button>
  </div>
</div>
