.plan-container {
  object-position: center;
  display: grid;
}

.food {
  margin-bottom: 30px;
}
.food span {
  background-color: #FFF782;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: #0272FF;
  font-size: 0.9em;
}

// categories showing in different background colors and colors
.food-category span:nth-child(even) {
  color: #0272FF;
  background-color: #FFF782;
  padding: 0.3em;
}

.food-category span:nth-child(odd) {
  background-color: #0272FF;
  color: #FFF782;
  padding: 0.3em;
}

// grid
.list-restaurant {
  display: inline-block;
  width: 300px;
  height: 150px;
}

.list-event {
  display: inline-block;
  width: 300px;
  height: 150px;
}

.restaurant-name {
  display: inline-block;
}


// hiding radio buttons and letting people click on images instead.
label > input{
  visibility: hidden;
  position: absolute;
}

.radio-restaurant > input + img {
  cursor: pointer;
  border: 3px solid transparent;
}

.radio-restaurant > input:checked + img {
  border: 5px solid #FFF782;
  opacity: 0.7;
}
.radio-event > input + img {
  cursor: pointer;
  border: 3px solid transparent;
}

.radio-event > input:checked + img {
  border: 5px solid #0272FF;
  opacity: 0.7;
}
