// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: normal 10px Nunito, sans-serif;
    margin:0;
    padding:0;
}

tr{
   border-bottom: 1px solid #cecece;
}

table {
    border-radius: 0px;
    width: 100%;
    margin: auto;
    background-color: white;
}
.resto_container {
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 25px;
    left: 16px;
    background-color:rgba(0,0,0,.4);
    color:#e1d4d0;
    font-size:250%;
    padding: 4px;
}

.button {
    background-color: #0272FF;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button1 {border-radius: 12px;}
