.make-choices {
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10%;
  color: #0272FF;
  grid-row-gap: 0.5em;
}


#slider-range-max {
  margin-left: 10%;
  margin-right: 10%;
}

.make-plan {
  text-align: center;
}

.make-plan span {
  background-color: #FFF782;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: #0272FF;
  font-size: 0.9em;
}

#partysize {
  grid-row: 2 / 3;
}

.pick-date {
  grid-row: 1 / 2;
}

.pick-date p {
  object-position: center;
  padding-top: 0;
  padding-bottom: 0;
}

#datepicker {
  text-align: center;
}

.partysize {
  grid-row: 2 / 3;
}

.budget #amount {
  text-align: center;
  color: #0272FF !important;
}

.budget {
  grid-row: 3 / 4;
  padding-bottom: 1em;
}

#resta-catlist {
  grid-row: 4 / 5;
  object-position: center;
  font-size: 20px;
}

#event-catlist {
  object-position: center;
  grid-row: 5 / 6;
  font-size: 20px
}

#resta-catlist .categories {
  column-count: 3;
}

.choice-button {
  grid-row: 6 / 7;
}
