// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// quantity
html {
  text-align: center;
  box-sizing: border-box;
}

#myform {
    text-align: center;
    padding: 0.3em;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 3.1em;
    height: 2.2em;
    text-align: center;
}
input.qtyplus { width:2.2em; height:2.2em;}
input.qtyminus { width:2.2em; height:2.2em;}

//postalcode

#postalcode {
    text-align: center;
    padding: .3em;
    border: 1px dotted #ccc;
    margin: 2%;
}
.pstbox, .submit {
    width: 11em;
    height: 2.5em;
    text-align: center;
}

//categories
.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1em;
  background-color: #fff;
  color: #444;
  width: 100%;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 1em;
  padding: 2em;
  font-size: 120%;
  display: block;


}

// carousel drop down
.carousel {
  background-color: #d2b5dc;
}
.carousel-image {
  width: 100vh;
  min-height: 80vh;
  background-color: #d2b5dc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23cd88d2' fill-opacity='0.25'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 75px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

// dropdown for restaurants
.category_name {
  list-style-type: none;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.categories {
  display: none;
}

.visible {
  display:block;
}



// top rated events and restaurants

// .cont{
//   display: inline-grid;
//   grid-gap: 1em;
//   grid-template-columns: 1fr 1fr;
//
//
// }
//
// .events img {
//   border:1px solid black;
// }
//
// .restaurants img {
//   width:500px;
//   height:250px;
//   border:1px solid black;
// }



/* This is to immitate a long page */
.page {
  height: 2000px;
}

/* See More button */
.see-more {
  position: fixed;
  z-index: 100;
  bottom: -40px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}

.mt-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, color .15s ease-in-out;
  }

.see-more button {
  position: relative;
  top: -66px;
  padding-bottom: 6px;
  color: #fff;
  background-color: #09f;
  border-color: #09f;
  border-radius: 3px 3px 0 0;
}

.see-more button:hover {
  background-color: #008ae6;
  border-color: #008ae6;
}

/* .see-more button::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #09f;
  border: 1px solid #09f;
}
 */
/* Back to top button */
.back-to-top {
  position: fixed;
  z-index: 101;
  bottom: 54px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
}

.back-to-top[data-active="true"] {
  opacity: 1;
  visibility: visible;
}

.back-to-top button {
  color: #09f;
  border-color: #cac2b8;
}

.back-to-top button:hover {
 background-color: #f4f3f1;
}

//test

.grid-container {
	max-width: 100%;
	margin: 0 auto;

}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}



@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


//button


.button_home{
  width:200px;
  background-color: #0272ff;
  border-radius : 6px;
  margin: 5px;
  padding: 0;
  color:white;
}

.b2 .button_home {
  background-color: white;
  color:#0272ff;
  border: 2px solid #0272ff;
}

.button_home p{
  font-size: 20px;
}


.choice-button > input[type='submit'] {
  width:250px;
  background-color: #0272ff;
  border-radius : 6px;
  margin:10px;
  padding:0;
  color:white;
  padding:10px;


}





//about us page collapsible


.collapsible {
  background-color: #e0edff;
  color: #013272;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid #013272;
}

.active, .collapsible:hover {
  background-color: #013272;
  color: white;
}

// carousel
.carousel-image {
  max-width: 100%;
  max-height: 70%;
}

#page-content-wrapper {
  padding-top: 0px;
}

.content_collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e0edff;
  }

  .content_collapse p {color: black;}



.budget #amount{
  font-size:1.5em;
}

  .dollar {

    font-size: 2em;
    color:red;

  }

  .amount {
    font-size:1.5em;
}

#datepicker {
  font-size: 1.5em;
}
