// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// quantity
html {
  text-align: center;
  box-sizing: border-box;
}

#myform {
    text-align: center;
    padding: 0.3em;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 3.1em;
    height: 2.2em;
    text-align: center;
}
input.qtyplus { width:2.2em; height:2.2em;}
input.qtyminus { width:2.2em; height:2.2em;}

//postalcode

#postalcode {
    text-align: center;
    padding: .3em;
    border: 1px dotted #ccc;
    margin: 2%;
}
.pstbox, .submit {
    width: 11em;
    height: 2.5em;
    text-align: center;
}

//categories
.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1em;
  background-color: #fff;
  color: #444;
  width: 100%;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 1em;
  padding: 2em;
  font-size: 120%;
  display: block;


}

// carousel drop down
.carousel {
  background-color: #d2b5dc;
}
.carousel-image-1 {
  height: 80vh;
  width: 100%;
  background-color: #d2b5dc;
  background-image: url("https://images.pexels.com/photos/941572/pexels-photo-941572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: bottom;
  }

.carousel-image-2 {
  height: 80vh;
  width: 100%;
  background-color: #d2b5dc;
  background-image: url("https://images.pexels.com/photos/853151/pexels-photo-853151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  background-size: cover;
  background-position: bottom;
  }

.carousel-image-3 {
  height: 80vh;
  width: 100%;
  background-color: #d2b5dc;
  background-image: url("https://images.pexels.com/photos/842546/pexels-photo-842546.jpeg?cs=srgb&dl=adult-affection-beard-842546.jpg&fm=jpg");
  background-size: cover;
  background-position: bottom;
  }
.carousel-image-4 {
  height: 80vh;
  width: 100%;
  background-color: #d2b5dc;
  background-image: url("https://images.pexels.com/photos/164592/pexels-photo-164592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: bottom;
  }
.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0,0,0,.4);
}

.carousel-indicators {
  bottom: 20%;
}
// dropdown for restaurants
.category_name {
  list-style-type: none;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.categories {
  display: none;
}

.visible {
  display:block;
}



// top rated events and restaurants

// .cont{
//   display: inline-grid;
//   grid-gap: 1em;
//   grid-template-columns: 1fr 1fr;
//
//
// }
//
// .events img {
//   border:1px solid black;
// }
//
// .restaurants img {
//   width:500px;
//   height:250px;
//   border:1px solid black;
// }



/* This is to immitate a long page */
.page {
  height: 2000px;
}

/* See More button */
.see-more {
  position: fixed;
  z-index: 100;
  bottom: -40px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}

.mt-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, color .15s ease-in-out;
  }

.see-more button {
  position: relative;
  top: -66px;
  padding-bottom: 6px;
  color: #5f090a;
  background-color: #d1797a;
  border-color: #5f090a;
  border-radius: 3px 3px 0 0;
}

.see-more button:hover {
  background-color: #008ae6;
  border-color: #008ae6;
}

/* .see-more button::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #09f;
  border: 1px solid #09f;
}
 */
/* Back to top button */
.back-to-top {
  position: fixed;
  z-index: 101;
  bottom: 54px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
}

.back-to-top[data-active="true"] {
  opacity: 1;
  visibility: visible;
}

.back-to-top button {
  color: #09f;
  border-color: #cac2b8;
}

.back-to-top button:hover {
 background-color: #f4f3f1;
}

//test

.grid-container {
	max-width: 100%;
	margin: 0 auto;

}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}



@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


//button


.button_home{
  width:200px;
  background-color: #5f090a;
  border-radius : 6px;
  border-color : #5f090a;
  margin: 5px;
  padding: 0;
  color:white;
}

.b2 .button_home {
  background-color: #e1d4d0;
  color:#5f090a;
  border: 2px solid #e1d4d0;
}

.button_home p{
  font-size: 20px;
}


.choice-button > input[type='submit'] {
  width:250px;
  background-color: #0272ff;
  border-radius : 6px;
  margin:10px;
  padding:0;
  color:white;
  padding:10px;


}





//about us page collapsible


.collapsible {
  background-color: #e0edff;
  color: #013272;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid #013272;
}

.active, .collapsible:hover {
  background-color: #013272;
  color: white;
}

// carousel
.carousel-image {
  max-width: 100%;
  max-height: 70%;
}

#page-content-wrapper {
  padding-top: 0px;
}

.content_collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e0edff;
  }

  .content_collapse p {color: black;}



.budget #amount{
  font-size:1.5em;
}

  .dollar {

    font-size: 2em;
    color:red;

  }

  .amount {
    font-size:1.5em;
}

#datepicker {
  font-size: 1.5em;
}
